---
import SplashScreen from '@components/SplashScreen';
import SectionHome from '@components/sections/home/index.astro';
import SectionSkills from '@components/sections/skills/index.astro';
import Layout from '../layouts/Layout.astro';


---

<Layout title="Thanonphat Supho - Readme">
	<SplashScreen client:visible></SplashScreen>
	<!-- <header class="h-16 w-full fixed z-10 top-0 bg-transparent flex justify-center">
		<div class="max-w-screen-lg mx-auto flex text-white gap-4">
			<a href="#" class="block text-2xl font-light">
				 Home
			</a>
			<a href="#skill" class="block text-2xl font-light">Skill</a>
			<a href="#work" class="block text-2xl font-light">Work</a>
			<a href="#contact" class="block text-2xl font-light">Contact</a>
			<a href="#contact" class="block text-2xl font-light">Playground</a>
		</div>
	</header> -->
	<main class="w-full h-full">
		<SectionHome></SectionHome>
		<SectionSkills></SectionSkills>
	</main>
</Layout>

<style>
</style>