---


---

<section id="skill" class="bg-slate-900 h-[60vh]">
    <div class="max-w-screen-lg mx-auto text-white pt-8">
        <div class="text-4xl text-center">Skills</div>
        <div class="border border-gray-500 mt-4 w-52 h-20 bg-transparent rounded-lg">
            card
        </div>
    </div>
</section>